<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adjectives</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link 
    id="theme-style"
    rel="stylesheet"
    href="{{ url_for('static', filename='lightmode.css') }}">

</head>
  
<body>
  <div class="main_card">

    <div class="margin_container">

      <form action="/" method="post">
          <label for="adjective" class="text">Adjective:</label>
          <br>
          <br>
          <input type="text" id="adjective" name="adjective">
          <br>
          <br>
          <button type="submit">Add</button>
      </form>
      <br>

      <button onclick="toggleTheme()">Switch Theme</button>

        <h2 class="text">Thank you, here are some other things that were said about this website:</h2>

      <img id="wordcloud" src="{{ url_for('static', filename='images/cloud_light.png') }}"
        alt="Wordcloud of the adjectives"  
        height="400">

      <script src="{{ url_for('static', filename='script.js') }}"></script>

      </div>
    </div>
</body>
</html>